.gallery {
  width: 1024px;
  height: 500px;
  position: fixed;
  display: flex;
  z-index: 11;
  background-color: $body-bg-color;
  box-shadow: 0 3px 9px 1px #232323;

  .controls-section {
    border-right: 1px solid #555;
    flex: 0 0 60%;

    .header {
      justify-content: space-between;
      align-items: center;

      .back-btn {
        padding: 6px 12px 2px 0;
      }

      .title {
        padding-left: 10px;
      }
    }

    .body {
      overflow: hidden;

      .list {
        padding: 5px;
        width: 100%;

        li {
          width: 25%;
          padding: 5px;
          float: left;
        }
      }
    }

    .footer .input-text input {
      padding-left: 10px;
    }
  }

  .canvas-section {
    overflow: hidden;
    border-left: 1px solid #555;
  }
}
