$input-file-color: #fafafa;
$input-file-bg-color: #c28419;
$input-file-hover-color: #fff;
$input-file-hover-bg-color: #f79d00;

.input-file {
  font-size: 13px;
  align-items: center;
  display: flex;
  justify-content: center;
  user-select: none;
  padding-left: 10px;
  padding-right: 10px;
  color: $input-file-color;
  background-color: $input-file-bg-color;
  transition: background-color 150ms ease-in-out;
  min-height: 25px;
  width: 100%;

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    background-color: $input-file-hover-bg-color;
    color: $input-file-hover-color;
  }

  input[type="file"] {
    display: none;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.3;

    &:focus,
    &:hover {
      color: $input-file-color;
      background-color: $input-file-bg-color;
    }
  }
}
