$input-file-hover-color: #64add1;
$input-file-hover-bg-color: rgba(121, 136, 185, 0.14);

.input-file {
  font-size: 13px;
  align-items: center;
  display: flex;
  justify-content: center;
  user-select: none;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  transition: background-color 150ms ease-in-out;
  height: 26px;
  width: 45px;

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    background-color: $input-file-hover-bg-color;
    color: $input-file-hover-color;
  }

  input[type="file"] {
    display: none;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.3;

    &:focus,
    &:hover {
      background-color: inherit;
      color: inherit;
    }
  }
}
