.main-layout {
  width: inherit;
  height: inherit;
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;

  .controls-layout,
  .presentation-layout {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;

    .controls-header,
    .controls-footer,
    .presentation-header,
    .presentation-footer {
      flex: 0 1 auto;
    }

    .controls-content,
    .presentation-content {
      flex: 1 2 100%;
      border-bottom: 1px solid $content-border-color;
      border-top: 1px solid $content-border-color;
    }
  }

  .controls-layout {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 40%; // width calc via js
    padding-right: 3px;

    .grab {
      position: absolute;
      display: inline-block;
      cursor: col-resize;
      background-color: $grab-color;
      right: 0;
      top: 0;
      width: 3px;
      bottom: 0;
      z-index: 2;

      &:hover {
        background-color: $grab-hover-color;
      }
    }
  }

  .presentation-layout {
    flex: 1 1 100%;

    .presentation-content {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .canvas-box {
        flex: 1 1 100%;
      }
    }

    .presentation-footer .controls-row {
      .label.fps {
        flex-grow: 20;
        text-align: left;
      }
    }
  }
}
