* {
  box-sizing: border-box;
  cursor: default;
  padding: 0;
  margin: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: $body-text-color;
  position: relative;
  font-family: $body-font-family;
  background-color: $body-bg-color;
}

.clearfix:after {
  content: "";
  display: table;
  widows: 100%;
  clear: both;
}

.controls-box {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: $controls-box-height;
  background-color: $controls-box-bg;

  > [class^="ctrl-btn"],
  > [class*=" ctrl-btn"] {
    font-size: 14px;
    text-align: center;

    &:not(:first-child) {
      border-left: 1px solid $ctrl-border-color;
    }
  }
}

[class^="ctrl-btn"],
[class*=" ctrl-btn"] {
  background-color: #343434;
  text-decoration: none;
  color: #6b7a82;
  font-size: 13px;
  padding: 5px;

  &:focus {
    outline: none;
  }
}

.ctrl-btn-default {
  &:focus,
  &:hover {
    background-color: rgba(121, 136, 185, 0.14);
    color: #64add1;
  }
}

.ctrl-btn-danger {
  &:focus,
  &:hover {
    background-color: rgba(253, 74, 74, 0.63);
    color: #ffeded;
  }
}

.ctrl-inp {
  &:focus {
    outline: none;
    box-shadow: 0 0 2px 0 #64add1 inset;
  }
}

