.editor-container {
  background-color: inherit;
  width: inherit;
  height: inherit;
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;

  .controls-section,
  .preview-section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    .controls-header,
    .preview-header {
      flex: 0 0 auto;
      border-bottom: 1px solid $content-border-color;
    }

    .controls-footer,
    .presentation-footer {
      flex: 0 0 auto;
      border-top: 1px solid $content-border-color;
    }

    .controls-content,
    .preview-content {
      flex: 1 1 auto;
      display: flex;
    }
  }

  .controls-section {
    flex-grow: 1;
    flex-shrink: 0;
    padding-right: 3px;
  }

  .preview-section {
    flex: 1 1 100%;

    .preview-content {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .canvas-box {
        flex: 1 1 100%;
      }
    }

    .presentation-footer .controls-row {
      .label.fps {
        flex: 1 1 auto;
        text-align: left;
      }
    }
  }
}
