.fieldset {
  font-size: 13px;
  flex-direction: column;
  flex-basis: 100%;
  display: flex;

  .type,
  .name {
    cursor: default;
    border-bottom: 1px solid #454545;
    height: 28px;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    color: #7f7f7f;
    background-color: rgba(194, 199, 215, 0.04);

    .label {
      opacity: 0.7;
      width: 52px;
      padding-left: 5px;
    }
  }

  .controls {
    overflow-y: auto;
    direction: rtl;

    .row {
      direction: initial;
      display: flex;
      align-items: center;
      height: 26.5px;

      .label {
        flex: 0 0 100px;
        padding-left: 5px;
      }

      .checkbox-btn,
      .input-file,
      .ctrl-select,
      .input-number {
        margin-left: 2.5px;
      }

      .check-box {
        margin-right: 10px;
      }

      &:nth-child(even) {
        background-color: rgba(194, 199, 215, 0.04);
      }
    }
  }
}
