.icon-arrow-down:before {
  content: "\e900";
}

.icon-arrow-left:before {
  content: "\e901";
}

.icon-arrow-right:before {
  content: "\e902";
}

.icon-arrow-up:before {
  content: "\e903";
}

.icon-arrow-up-down:before {
  content: "\e904";
}

.icon-bulb-off:before {
  content: "\e905";
}

.icon-bulb-on:before {
  content: "\e906";
}

.icon-cancel-circle:before {
  content: "\e907";
}

.icon-checkbox-checked:before {
  content: "\e908";
}

.icon-checkbox-unchecked:before {
  content: "\e909";
}

.icon-checkmark:before {
  content: "\e90a";
}

.icon-circle-down:before {
  content: "\e90b";
}

.icon-circle-left:before {
  content: "\e90c";
}

.icon-circle-right:before {
  content: "\e90d";
}

.icon-circle-up:before {
  content: "\e90e";
}

.icon-close:before {
  content: "\e90f";
}

.icon-collapse-vertical:before {
  content: "\e910";
}

.icon-color-palette:before {
  content: "\e911";
}

.icon-cube:before {
  content: "\e912";
}

.icon-cylinder:before {
  content: "\e913";
}

.icon-dots-horizontal:before {
  content: "\e914";
}

.icon-expand-vertical:before {
  content: "\e915";
}

.icon-export:before {
  content: "\e916";
}

.icon-eye:before {
  content: "\e917";
}

.icon-eye-blocked:before {
  content: "\e918";
}

.icon-folder:before {
  content: "\e919";
}

.icon-fragment:before {
  content: "\e91a";
}

.icon-gallery:before {
  content: "\e91b";
}

.icon-gear:before {
  content: "\e91c";
}

.icon-image:before {
  content: "\e91d";
}

.icon-image-gallery:before {
  content: "\e91e";
}

.icon-import:before {
  content: "\e91f";
}

.icon-info:before {
  content: "\e920";
}

.icon-list:before {
  content: "\e921";
}

.icon-material-editor:before {
  content: "\e922";
}

.icon-maximize:before {
  content: "\e923";
}

.icon-minimize:before {
  content: "\e924";
}

.icon-minus:before {
  content: "\e925";
}

.icon-new-file:before {
  content: "\e926";
}

.icon-notification:before {
  content: "\e927";
}

.icon-pencil:before {
  content: "\e928";
}

.icon-plane:before {
  content: "\e929";
}

.icon-plus:before {
  content: "\e92a";
}

.icon-question:before {
  content: "\e92b";
}

.icon-radio-checked:before {
  content: "\e92c";
}

.icon-radio-unchecked:before {
  content: "\e92d";
}

.icon-refresh:before {
  content: "\e92e";
}

.icon-save:before {
  content: "\e92f";
}

.icon-search:before {
  content: "\e930";
}

.icon-settings:before {
  content: "\e931";
}

.icon-shader-editor:before {
  content: "\e932";
}

.icon-sphere:before {
  content: "\e933";
}

.icon-spinner:before {
  content: "\e934";
}

.icon-spinner-dots:before {
  content: "\e935";
}

.icon-three-bars:before {
  content: "\e936";
}

.icon-torus:before {
  content: "\e937";
}

.icon-trash-bin:before {
  content: "\e938";
}

.icon-upload:before {
  content: "\e939";
}

.icon-vertex:before {
  content: "\e93a";
}

.icon-wireframe:before {
  content: "\e93b";
}

.icon-xy-system:before {
  content: "\e93c";
}

.icon-xyz-system:before {
  content: "\e93d";
}