$body-text-color: #9e9e9e;
$body-bg-color: #262626;
$body-font-family: 'Oxygen', Arial, sans-serif;

$controls-row-height: 30.5px;
$controls-row-bg: lighten($body-bg-color, 7%);

$ctrl-border-color: lighten($body-bg-color, 15%);

$sidebar-bg: lighten($body-bg-color, 5%);

$content-border-color: lighten($body-bg-color, 12%);

$grab-color: lighten($body-bg-color, 12%);
$grab-hover-color: #5598c5;

$scrollbar-thumb-bg-color: $grab-hover-color;
$scrollbar-track-bg-color: #4c4c4c;

$ctrl-btn-bg-color: lighten($body-bg-color, 7%);
$ctrl-btn-color: #6b7a82;

$ctrl-btn-default-color: #64add1;
$ctrl-btn-default-bg-color: rgba(121, 136, 185, 0.14);

$ctrl-btn-danger-color: #ffeded;
$ctrl-btn-danger-bg-color: rgba(253, 74, 74, 0.63);

$input-btn-size: 14px;
$bg-color: rgba(255, 255, 255, 0.35);
$dot-color: #171717;
$bg-active-color: #1e90ff;
