$body-text-color: #9e9e9e;
$body-bg-color: #272727;
$body-font-family: Arial, sans-serif;

$controls-row-height: 30px;
$controls-row-bg: lighten($body-bg-color, 5%);

$ctrl-border-color: lighten($body-bg-color, 15%);

$sidebar-bg: lighten($body-bg-color, 5%);

$content-border-color: lighten($body-bg-color, 12%);

$grab-color: lighten($body-bg-color, 12%);
$grab-hover-color: lighten($body-bg-color, 15%);

$ctrl-btn-bg-color: #343434;
$ctrl-btn-color: #6b7a82;

$ctrl-btn-default-color: #64add1;
$ctrl-btn-default-bg-color: rgba(121, 136, 185, 0.14);

$ctrl-btn-danger-color: #ffeded;
$ctrl-btn-danger-bg-color: rgba(253, 74, 74, 0.63);
