$body-text-color: #9e9e9e;
$body-bg-color: #262626;
$body-font-family: 'Oxygen', Arial, sans-serif;

$controls-row-height: 27px;
$controls-row-bg: lighten($body-bg-color, 7%);

$ctrl-border-color: lighten($body-bg-color, 15%);

$sidebar-bg: lighten($body-bg-color, 5%);

$content-border-color: lighten($body-bg-color, 12%);

$grab-color: lighten($body-bg-color, 12%);
$grab-hover-color: #5598c5;

$scrollbar-thumb-bg-color: $grab-hover-color;
$scrollbar-track-bg-color: #4c4c4c;
