
$fade-in-enter-transition-duration: 230ms;
$fade-out-leave-transition-duration: 200ms;
$slide-down-enter-transition-duration: 270ms;
$slide-up-leave-transition-duration: 210ms;

.opacity-enter-active {
  opacity: 0;
  transition: opacity 130ms linear;

  &.opacity-enter-to {
    opacity: 1;
    transition: opacity 130ms linear;
  }
}

.opacity-leave-active {
  opacity: 0.7;
  transition: opacity 100ms linear;

  &.opacity-leave-to {
    opacity: 0;
    transition: opacity 100ms linear;
  }
}

.fade-enter-active {
  position: fixed;
  opacity: 0;
  transition: opacity $fade-in-enter-transition-duration linear;

  &.fade-enter-to {
    opacity: 1;
    transition: opacity $fade-in-enter-transition-duration linear;
  }
}

.fade-leave-active {
  position: fixed;
  opacity: 0.7;
  transition: opacity $fade-out-leave-transition-duration linear;

  &.fade-leave-to {
    opacity: 0;
    transition: opacity $fade-out-leave-transition-duration linear;
  }
}

.slide-enter-active {
  position: fixed;
  top: -100%;
  transition: top $slide-down-enter-transition-duration linear;

  &.slide-enter-to {
    top: 0;
    transition: top $slide-down-enter-transition-duration linear;
  }
}

.slide-leave-active {
  position: fixed;
  top: 0;
  transition: top $slide-up-leave-transition-duration linear;

  &.slide-leave-to {
    top: -100%;
    transition: top $slide-up-leave-transition-duration linear;
  }
}
