@font-face {
  font-family: 'icomoon';
  src: url('/static/fonts/font-icons/icomoon.eot?rvzxo8');
  src: url('/static/fonts/font-icons/icomoon.eot?rvzxo8#iefix') format('embedded-opentype'), url('/static/fonts/font-icons/icomoon.ttf?rvzxo8') format('truetype'), url('/static/fonts/font-icons/icomoon.woff?rvzxo8') format('woff'), url('/static/fonts/font-icons/icomoon.svg?rvzxo8#icomoon') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/oxygen/Oxygen-Regular.ttf') format('truetype');
}
