.icon-gear:before {
  content: "\e925";
}

.icon-pause:before {
  content: "\e900";
}

.icon-play:before {
  content: "\e951";
}

.icon-stop:before {
  content: "\e952";
}

.icon-triangle-down:before {
  content: "\e954";
}

.icon-triangle-left:before {
  content: "\e955";
}

.icon-triangle-right:before {
  content: "\e956";
}

.icon-triangle-up:before {
  content: "\e957";
}

.icon-archive:before {
  content: "\e922";
}

.icon-images:before {
  content: "\e95a";
}

.icon-edit:before {
  content: "\e95c";
}

.icon-assign-material:before {
  content: "\e901";
}

.icon-material:before {
  content: "\e902";
}

.icon-emitter:before {
  content: "\e903";
}

.icon-code-error:before {
  content: "\e904";
}

.icon-code-warning:before {
  content: "\e905";
}

.icon-arrow-down:before {
  content: "\e906";
}

.icon-arrow-left:before {
  content: "\e907";
}

.icon-arrow-right:before {
  content: "\e908";
}

.icon-arrow-up:before {
  content: "\e909";
}

.icon-arrow-up-down:before {
  content: "\e90a";
}

.icon-bulb-off:before {
  content: "\e90b";
}

.icon-bulb-on:before {
  content: "\e90c";
}

.icon-cancel-circle:before {
  content: "\e90d";
}

.icon-checkbox-checked:before {
  content: "\e90e";
}

.icon-checkbox-unchecked:before {
  content: "\e90f";
}

.icon-checkmark:before {
  content: "\e910";
}

.icon-circle-down:before {
  content: "\e911";
}

.icon-circle-left:before {
  content: "\e912";
}

.icon-circle-right:before {
  content: "\e913";
}

.icon-circle-up:before {
  content: "\e914";
}

.icon-close:before {
  content: "\e915";
}

.icon-closed-folder:before {
  content: "\e916";
}

.icon-collapse-vertical:before {
  content: "\e917";
}

.icon-color-palette:before {
  content: "\e918";
}

.icon-cube:before {
  content: "\e919";
}

.icon-cylinder:before {
  content: "\e91a";
}

.icon-select-arrows:before {
  content: "\e91b";
}

.icon-expand-vertical:before {
  content: "\e91c";
}

.icon-export:before {
  content: "\e91d";
}

.icon-eye:before {
  content: "\e91e";
}

.icon-eye-blocked:before {
  content: "\e91f";
}

.icon-fragment:before {
  content: "\e920";
}

.icon-history:before {
  content: "\e923";
}

.icon-image:before {
  content: "\e924";
}

.icon-import:before {
  content: "\e926";
}

.icon-danger:before {
  content: "\e927";
}

.icon-list:before {
  content: "\e928";
}

.icon-lock:before {
  content: "\e929";
}

.icon-editor:before {
  content: "\e92a";
}

.icon-maximize:before {
  content: "\e92b";
}

.icon-minimize:before {
  content: "\e92c";
}

.icon-minus:before {
  content: "\e92d";
}

.icon-move:before {
  content: "\e92e";
}

.icon-new-file:before {
  content: "\e92f";
}

.icon-info:before {
  content: "\e930";
}

.icon-open-folder:before {
  content: "\e931";
}

.icon-pencil:before {
  content: "\e932";
}

.icon-plane:before {
  content: "\e933";
}

.icon-plus:before {
  content: "\e934";
}

.icon-warning:before {
  content: "\e935";
}

.icon-radio-checked:before {
  content: "\e936";
}

.icon-radio-unchecked:before {
  content: "\e937";
}

.icon-refresh:before {
  content: "\e938";
}

.icon-rotate:before {
  content: "\e939";
}

.icon-save:before {
  content: "\e93a";
}

.icon-scale:before {
  content: "\e93b";
}

.icon-search:before {
  content: "\e93c";
}

.icon-settings:before {
  content: "\e93d";
}

.icon-sphere:before {
  content: "\e93f";
}

.icon-spinner:before {
  content: "\e940";
}

.icon-spinner-dots:before {
  content: "\e941";
}

.icon-text-file:before {
  content: "\e942";
}

.icon-three-bars:before {
  content: "\e943";
}

.icon-torus:before {
  content: "\e944";
}

.icon-trash-bin:before {
  content: "\e945";
}

.icon-unlocked:before {
  content: "\e946";
}

.icon-upload:before {
  content: "\e947";
}

.icon-vertex:before {
  content: "\e948";
}

.icon-wireframe:before {
  content: "\e949";
}

.icon-xy:before {
  content: "\e94a";
}

.icon-xyz:before {
  content: "\e94b";
}

.icon-back-forth:before {
  content: "\e94c";
}

.icon-switch-off:before {
  content: "\e94d";
}

.icon-switch-on:before {
  content: "\e94e";
}

.icon-question:before {
  content: "\e94f";
}

.icon-success:before {
  content: "\e950";
}

.icon-undo:before {
  content: "\e967";
}

.icon-redo:before {
  content: "\e968";
}

.icon-move-up:before {
  content: "\ea46";
}

.icon-move-down:before {
  content: "\ea47";
}

.icon-sort-alpha-asc:before {
  content: "\ea48";
}

.icon-sort-alpha-desc:before {
  content: "\ea49";
}

.icon-sort-numeric-asc:before {
  content: "\ea4a";
}

.icon-sort-numberic-desc:before {
  content: "\ea4b";
}

.icon-sort-amount-asc:before {
  content: "\ea4c";
}

.icon-sort-amount-desc:before {
  content: "\ea4d";
}
