$body-text-color: #9e9e9e;
$body-bg-color: #262626;
$body-font-family: 'Oxygen', Arial, sans-serif;

$controls-gutter: 5px;

$controls-row-height: 28px;
$controls-row-bg: lighten($body-bg-color, 7%);

$ctrl-border-color: lighten($body-bg-color, 15%);

$content-border-color: lighten($body-bg-color, 12%);

$grab-color: lighten($body-bg-color, 12%);
$grab-hover-color: #5598c5;

$scrollbar-thumb-bg-color: $grab-hover-color;
$scrollbar-track-bg-color: #4c4c4c;

$color-picker-bg: #434343;

$ctrl-btn-default-color: #c2c2c2;
$ctrl-btn-default-bg-color: #3c3c3c;
$ctrl-btn-default-active-bg-color: #555e61;
$ctrl-btn-default-hover-color: #fff;
$ctrl-btn-default-hover-bg-color: #555e61;

// primary primary success info warning danger
$ctrl-btn-danger-color: #c2c2c2;
$ctrl-btn-danger-bg-color: #ab4646;
$ctrl-btn-danger-active-bg-color: #e82d2d;
$ctrl-btn-danger-hover-color: #fff;
$ctrl-btn-danger-hover-bg-color: #e82d2d;

$ctrl-btn-success-color: #c2c2c2;
$ctrl-btn-success-bg-color: #358325;
$ctrl-btn-success-active-bg-color: #36be23;
$ctrl-btn-success-hover-color: #fff;
$ctrl-btn-success-hover-bg-color: #36be23;

$ctrl-btn-primary-color: #c2c2c2;
$ctrl-btn-primary-bg-color: #4788a7;
$ctrl-btn-primary-active-bg-color: #5db9e4;
$ctrl-btn-primary-hover-color: #fff;
$ctrl-btn-primary-hover-bg-color: #5db9e4;
