.input-number {
  font-size: 13px;
  height: 24px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 3px;
  cursor: initial;
  background-color: rgba(255, 255, 255, 0.14);
  color: #f1f1f1;
  width: 100%;

  &:focus {
    outline: none;
    background-color: $ctrl-btn-default-bg-color;
    color: $ctrl-btn-default-color;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}
