$input-number-color: #f1f1f1;
$input-number-bg-color: rgba(255, 255, 255, 0.14);
$input-number-hover-color: #64add1;
$input-number-hover-bg-color: rgba(121, 136, 185, 0.14);

.input-number {
  font-size: 13px;
  height: 25px;
  display: flex;
  align-items: center;
  background-color: $input-number-bg-color;
  color: $input-number-color;
  width: 100%;

  input[type="number"] {
    cursor: initial;
    background-color: inherit;
    color: inherit;
    width: inherit;
    height: inherit;
    padding-left: 5px;
    padding-right: 5px;
    text-overflow: ellipsis;
    -moz-appearance: none;
    -webkit-appearance: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }

    &:hover,
    &:focus {
      outline: none;
      background-color: $input-number-hover-bg-color;
      color: $input-number-hover-color;
    }

    &:disabled {
      cursor: not-allowed;

      &:hover,
      &:focus {
        background-color: inherit;
        color: inherit;
      }
    }
  }

  .prefix,
  .sufix {
    padding-left: 3px;
    padding-right: 3px;
    text-transform: uppercase;
    color: #979797;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.3;

    .prefix,
    .sufix {
      cursor: not-allowed;
    }
  }
}
