$radio-btn-ctrl-size: 14px;
$radio-btn-dot-color: #171717;
$radio-btn-hover-color: #64add1;
$radio-btn-bg-hover-color: #fff;
$radio-btn-bg-active-color: #1e90ff;
$radio-btn-border-color: #727272;

.radio-btn {
  font-size: 13px;
  align-items: center;
  display: flex;
  user-select: none;

  .switch-icon {
    position: relative;
    display: inline-block;
    width: $radio-btn-ctrl-size;
    height: $radio-btn-ctrl-size;
    border-radius: $radio-btn-ctrl-size;
    background-color: $radio-btn-dot-color;
    border-width: $radio-btn-ctrl-size / 4.5;
    border-style: solid;
    border-color: $radio-btn-border-color;
    transition: border-color 200ms linear, border-width 200ms linear;
  }

  .prefix {
    cursor: inherit;
    padding-right: 3px;
  }

  .sufix {
    cursor: inherit;
    padding-left: 3px;
  }

  input[type="radio"] {
    display: none;

    &:checked + .switch-icon {
      border-color: $radio-btn-bg-active-color;
      border-width: $radio-btn-ctrl-size / 4.5;
    }
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    color: $radio-btn-hover-color;

    .switch-icon {
      background-color: $radio-btn-bg-hover-color;
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.3;

    .switch-icon {
      cursor: inherit;
    }

    &:focus,
    &:hover {
      color: inherit;

      .switch-icon {
        background-color: inherit;
      }
    }
  }
}
