.sidebar {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
  background-color: $sidebar-bg;
  position: relative;

  .item-obj {
    display: flex;

    &:not(:first-child) {
      margin-top: 1px;
    }

    .obj-name,
    .trash-bin,
    .show-hide-obj {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .trash-bin,
    .show-hide-obj {
      flex: 0 0 30px;
    }

    .obj-name {
      text-align: left;
      flex: 1 1 auto;
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  .obj-list-enter-active,
  .obj-list-leave-active {
    transition: opacity 0.3s, transform 0.3s;
    transform-origin: left center;
  }

  .obj-list-enter,
  .obj-list-leave-to {
    opacity: 0;
    transform: scale(0.5);
  }
}