$ctrl-btn-default-color: #a2a2a2;
$ctrl-btn-default-bg-color: #3c3c3c;
$ctrl-btn-default-active-bg-color: rgba(0, 173, 255, 0.09);
$ctrl-btn-default-hover-color: #d5d5d5;
$ctrl-btn-default-hover-bg-color: rgba(0, 173, 255, 0.09);

// =========================
$ctrl-btn-danger-color: #a2a2a2;
$ctrl-btn-danger-bg-color: #ab4646;
$ctrl-btn-danger-active-bg-color: rgba(253, 74, 74, 0.63);
$ctrl-btn-danger-hover-color: #d5d5d5;
$ctrl-btn-danger-hover-bg-color: rgba(253, 74, 74, 0.63);

.ctrl-btn {
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  flex: 1 1 auto;
  padding: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;

  &:focus {
    outline: none;
  }

  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;

    &:hover {
      cursor: not-allowed;
    }
  }

  &.xs {
    flex: 0 1 50px;
  }

  &.sm {
    flex: 0 1 100px;
  }

  &.md {
    flex: 0 1 150px;
  }

  &.lg {
    flex: 0 1 200px;
  }

  &.default {
    background-color: $ctrl-btn-default-bg-color;
    color: $ctrl-btn-default-color;

    &.active {
      background-color: $ctrl-btn-default-active-bg-color;
    }

    &:focus,
    &:hover {
      background-color: $ctrl-btn-default-hover-bg-color;
      color: $ctrl-btn-default-hover-color;
    }
  }

  &.danger {
    background-color: $ctrl-btn-danger-bg-color;
    color: $ctrl-btn-danger-color;

    &.active {
      background-color: $ctrl-btn-danger-active-bg-color;
    }

    &:focus,
    &:hover {
      background-color: $ctrl-btn-danger-hover-bg-color;
      color: $ctrl-btn-danger-hover-color;
    }
  }
}

.controls-row {
  > .ctrl-btn {
    font-size: 13.5px;

    i[class^="icon-"],
    i[class*=" icon-"] {
      font-size: 17px;
    }

    &:not(:first-child) {
      border-left: 1px solid $ctrl-border-color;
    }
  }
}
