.shader-editor-footer {
  display: flex;
  flex-direction: column;

  .shader-ctrl-settings {
    flex-direction: column;
    flex-basis: 100%;
    display: flex;

    .create-new {
      display: flex;
      flex-direction: column;
      padding: 7px 5px;
      background-color: #616161;
      border-bottom: 1px solid #787878;
      border-top: 1px solid #787878;

      .settings-row {
        display: flex;
        align-items: center;
        padding-bottom: 5px;
        border-bottom: 1px solid #787878;

        .radio-ctrl {
          padding-left: 4px;
          padding-right: 4px;
        }

        .new-shader-ctrl {
          margin-left: 3px;
        }
      }

      .parameters-row {
        display: flex;
        align-items: center;
        padding-top: 5px;
      }
    }

    .controls {
      direction: rtl;

      .row {
        direction: initial;
        display: flex;
        align-items: center;
        margin-top: 3px;
        margin-bottom: 3px;
        padding: 5px;
        border-bottom: 1px solid #383838;

        .info {
          display: flex;
          flex-direction: column;
          flex: 0 0 100px;
          padding-right: 3px;

          .name {
            font-size: 13px;
          }

          .type {
            font-size: 11px;
            color: #505050;
          }
        }

        > button {
          margin-left: 3px;
        }
      }
    }
  }
}