$select-appearance-border-size: 3px;
$select-appearance-before-after-position: calc(50% - 5px);
$select-appearance-before-after-bg-color: #9e9e9e;
$select-color: #f1f1f1;
$select-bg-color: #3c3c3c;
$select-bg-active-color: #1e90ff;
$select-hover-color: #64add1;
$select-bg-hover-color: rgba(121, 136, 185, 0.14);
$select-option-checked-bg-color: #727272;

.ctrl-select {
  position: relative;
  display: block;
  width: 100%;

  select {
    width: 100%;
    background-color: $select-bg-color;
    border: none;
    cursor: pointer;
    color: $select-color;
    padding-right: 20px;
    padding-left: 5px;
    height: 25px;
    font-size: 13px;
    line-height: 13px;
    appearance: none;
    user-select: none;

    &:hover,
    &:focus {
      outline: none;
      background-color: $select-bg-hover-color;
      color: $select-hover-color;
    }

    &::-ms-expand {
      display: none;
    }

    option {
      color: $select-color;
      background-color: $select-bg-color;

      &:checked {
        background-color: $select-bg-active-color;
        color: $select-option-checked-bg-color;
      }
    }

    &:disabled {
      cursor: not-allowed;

      &:hover,
      &:focus {
        background-color: $select-bg-color;
        color: $select-color;
      }
    }
  }

  &:after,
  &:before {
    content: "";
    position: absolute;
    right: 6px;
    pointer-events: none;
    border-left: $select-appearance-border-size solid transparent;
    border-right: $select-appearance-border-size solid transparent;
  }

  &:before {
    top: $select-appearance-before-after-position;
    border-bottom: $select-appearance-border-size solid $select-appearance-before-after-bg-color;
  }

  &:after {
    bottom: $select-appearance-before-after-position;
    border-top: $select-appearance-border-size solid $select-appearance-before-after-bg-color;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}
