.ctrl-select {
  position: relative;
  display: block;
  margin-left: 3px;
  width: 100%;

  select {
    width: 100%;
    background-color: #4b4b4b;
    border: none;
    cursor: pointer;
    color: #f1f1f1;
    padding-right: 20px;
    padding-left: 5px;
    height: 25px;
    font-size: 13px;
    line-height: 13px;
    appearance: none;
    user-select: none;

    &:focus {
      outline: none;
      background-color: $ctrl-btn-default-bg-color;
      color: $ctrl-btn-default-color;
    }

    &::-ms-expand {
      display: none;
    }

    option {
      color: #f1f1f1;
      background-color: #4b4b4b;

      &:checked {
        background-color: $bg-active-color;
        color: $bg-color;
      }
    }

    &:disabled {
      color: #000;
      cursor: not-allowed;
    }
  }

  &:after,
  &:before {
    content: "";
    position: absolute;
    right: 6px;
    pointer-events: none;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
  }

  &:before {
    top: calc(50% - 4px);
    border-bottom: 3px solid #9e9e9e;
  }

  &:after {
    bottom: calc(50% - 4px);
    border-top: 3px solid #9e9e9e;
  }
}
