$page-fade-in-enter-transition-duration: 300ms;
$page-fade-out-leave-transition-duration: 300ms;

.page-fade-enter-active {
  position: absolute;
  opacity: 0;
  transition: opacity $page-fade-in-enter-transition-duration linear;

  &.page-fade-enter-to {
    opacity: 1;
    transition: opacity $page-fade-in-enter-transition-duration linear;
  }
}

.page-fade-leave-active {
  position: absolute;
  opacity: 0.7;
  transition: opacity $page-fade-out-leave-transition-duration linear;

  &.page-fade-leave-to {
    opacity: 0;
    transition: opacity $page-fade-out-leave-transition-duration linear;
  }
}

.main-layout {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
