$checkbox-btn-ctrl-size: 14px;
$checkbox-btn-dot-color: #171717;
$checkbox-btn-bg-active-color: #1e90ff;
$checkbox-btn-bg-color: #727272;
$checkbox-btn-hover-color: #64add1;
$checkbox-btn-bg-hover-color: #fff;

.checkbox-btn {
  font-size: 13px;
  align-items: center;
  display: flex;
  user-select: none;

  .switch-icon {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: ($checkbox-btn-ctrl-size * 2) - 4;
    height: $checkbox-btn-ctrl-size;
    border-radius: $checkbox-btn-ctrl-size;
    background-color: $checkbox-btn-bg-color;
    transition: background-color 200ms linear;

    &:before {
      content: "";
      position: absolute;
      display: inherit;
      top: 0;
      left: 2px;
      bottom: 0;
      width: $checkbox-btn-ctrl-size - 4;
      height: $checkbox-btn-ctrl-size - 4;
      margin: auto;
      border-radius: $checkbox-btn-ctrl-size;
      background-color: $checkbox-btn-dot-color;
      transition: left 100ms linear;
    }
  }

  .prefix {
    cursor: inherit;
    padding-right: 3px;
  }

  .sufix {
    cursor: inherit;
    padding-left: 3px;
  }

  input[type="checkbox"] {
    display: none;

    &:checked + .switch-icon {
      background-color: $checkbox-btn-bg-active-color;

      &:before {
        left: $checkbox-btn-ctrl-size - 2;
      }
    }
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    color: $checkbox-btn-hover-color;

    .switch-icon {
      &:before {
        background-color: $checkbox-btn-bg-hover-color;
      }
    }
  }

  &.disabled {
    cursor: not-allowed;
    color: inherit;
    opacity: 0.3;

    .switch-icon {
      cursor: inherit;

      &:before {
        background-color: $checkbox-btn-dot-color;
      }
    }
  }
}
